<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trainer Page</title>
    <style>
        body {
            background: #E0FFFF;
        }
        form {
            font-size: 1.5rem; /* Размер основного шрифта */
        }
        div {
            text-align: center;
        }
        input {
            width:  150px;
            height: 30px;
            border-radius: 10px 10px 10px 10px;
            background: #FDD7E4;
    }
    </style>
</head>
<body>

<h1><center>Trainer</h1>

<input type="button" value="RETURN" onclick="window.location.href='/train/main'"/>

<form style="text-align:center;" th:method="GET" th:object="${word}">

    <a th:text="${word.original}">original</a>

    <br/>
    <hr/>

</form>

<div>
    <form th:method="GET" th:action="@{/train/{id}/showTranslation(id=${word.getId()})}" th:object="${word}">
        <input type="submit" value="SHOW TRANSLATION"/>
    </form>
</div>

<br/>
<br/>

<input type="button" value="NEXT" onclick="window.location.href='/train/next'"/>

<br/>
<br/>

<form th:method="GET" th:action="@{/train/{id}/editWordOnTraining(id=${word.getId()})}" th:object="${word}">
    <input type="submit" value="EDIT"/>
</form>


</body>
</html>