<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Words Page</title>
    <style>
        body {
            font-size: 1.5rem; /* Размер основного шрифта */
        }
    </style>
</head>
<body>

<h1><center>Show all words</h1>

<div th:each="word : ${words}">
    <a th:href="@{/words/{id}(id=${word.getId()})}"
       th:text="${word.getOriginal() + ' - ' + word.getTranslation() + ' | Status: ' + word.isStatus()}">word</a>
</div>


</body>
</html>